table {
    width: 50%;
    text-align: center;
    height: 300px;
}
button {
    height: 100px;
    width: 100%;
    background-color: red;
}
img {
    margin-top: 4px;
    height: 90%;
    width: 90%;
    visibility: hidden;
}